<header class="bg-red-100 h-[7vh]">
  <div class="flex h-full w-full">
    <div class="bg-red-200 w-1/3">ロゴ</div>
    <div class="bg-blue-200 w-1/3">お気に入り</div>
    <div class="bg-green-200 w-1/3">その他</div>
  </div>
</header>
<main class="bg-green-100 h-[93vh]">
  <div class="bg-blue-100 h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
